<mat-card>
  <h1>Benefits Payout</h1>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Employee Information</ng-template>
        <div fxLaout="row" fxLayoutGap="1rem">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName" required>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Dependent Information">
      <form [formGroup]="secondFormGroup">
        <h2 *ngIf="getDependentsArray().length == 0">Click "Add Dependent" to add a dependent to the benefits plan.</h2>
        <div formArrayName="dependents"
          *ngFor="let item of getDependentsArray().controls; let i = index;">
          <div [formGroupName]="i"  fxLaout="row" fxLayoutGap="1rem">
            <mat-form-field>
              <mat-label>Relation</mat-label>
              <mat-select formControlName="relation">
                <mat-option *ngFor="let option of dependentRelations" [value]="option.value">{{ option.text }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" formControlName="lastName" required>
            </mat-form-field>
            <button type="button" mat-icon-button (click)=removeDependent(i)>
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <button type="button" mat-stroked-button color="primary" (click)="addDependent()">Add Dependent</button>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)=previewCosts() matStepperNext>Review</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review Costs</ng-template>

      <div>
        <div class="payroll-review">
          <mat-button-toggle-group  #group="matButtonToggleGroup" aria-label="Pay Frequency">
            <mat-button-toggle value="annualPay" checked>Annual Pay</mat-button-toggle>
            <mat-button-toggle value="paycheckPay">Paycheck Pay</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-list *ngIf="preview">
            <mat-list-item role="listitem"><div><label>Gross Income</label><span>{{ preview[group.value].grossIncome | currency }}</span></div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><div><label>Benfits Premium</label><span>{{ preview[group.value].benefitsPremium | currency }}</span></div></mat-list-item>
            <mat-list-item role="listitem"><div><label>Discount</label><span [class.discounted]="preview[group.value].benefitsDiscount > 0">{{ preview[group.value].benefitsDiscount | currency }}</span></div></mat-list-item>
            <mat-list-item role="listitem"><div><label>Benefits Subtotal</label><span>{{ preview[group.value].benefitsSubtotal | currency }}</span></div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><div><label class="bold">Taxable Income</label><span class="bold">{{ preview[group.value].taxableIncome | currency }}</span></div></mat-list-item>
          </mat-list>
        </div>

        <button mat-stroked-button class="add-employee-btn" color="primary" (click)="saveEmployee($event)">{{isEdit ? 'Update Employee' : 'Add Employee'}}</button>
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</mat-card>
